@font-face {
    font-family: 'Jost';
    src: 'https://indestructibletype.com/fonts/Jost.css';
}

div#logo {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

div#text {
    font-family: 'Jost';
    font-size: 20px;
    text-align: center;
    justify-content: center;
    margin-top: 60px;
}

div#icons {
    position: absolute;
    bottom: 2.5%;
    left: 50%;
}

a, a:visited, a:hover, a:active {
    color: inherit;
  }