@font-face {
    font-family: 'Jost';
    src: 'https://indestructibletype.com/fonts/Jost.css';
}

.paragraph {
    text-align: center;
    display: inline-block;
    text-align: left;
    width: 600px;
    word-wrap: auto;
}

.text {
    font-family: 'Jost';
    font-size: 20px;
    text-align: center;
    justify-content: center;
}

div#logo {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

div#title {
    margin-top: 60px;
}

div#about {
    margin-top: 90px;
}

div#projects {
    margin-top: 100px;
}

div#icons {
    margin-top: 80px;
    margin-bottom: 20px;
    text-align: center;
}

a, a:visited, a:hover, a:active {
    color: inherit;
  }
